#contact ul{
    list-style-type: none;
}

#contact a{
    text-decoration: none;
}

#contact img{
    border: solid 2px black;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#contact .community_icon{
    width: 32px;
    height: 32px;
    display: inline-block;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-size: 32px 32px;
    background-repeat: no-repeat;
}

#contact #community_twitter{
    background-image: url('../images/icon_twitter_grayscale.png');
}

#contact #community_twitter:hover{
    background-image: url('../images/icon_twitter.png');
}

#contact #community_linkedin{
    background-image: url('../images/icon_linkedin_grayscale.png');
}

#contact #community_linkedin:hover{
    background-image: url('../images/icon_linkedin.png');
}