{% load widget_exchange_rates staticfiles %}
<aside>
    <ul>
        <li style="font-size: 0px;">.</li>
        <li>
            <iframe src="http://wx.trejdoo.com/widgets/eurofundusze/frame.html"
                    width="300" height="250" style="background-color:white;border:1px solid #ddd;overflow:hidden"
                    frameborder="0" seamless></iframe>
        </li>
        <li>

            <div id="cinkciarzPlWidget" style="margin: 0;"></div>
            <script type="text/javascript" src="http://cinkciarz.pl/widget/cinkciarz.widget.js"></script>
        </li>
        <!-- Place somewhere in the <body> of your page -->
        <li>
            <div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('.bxslider').bxSlider({
                            auto: true,
                            adaptiveHeight: true,
                            mode: 'fade',
                            controls: false,
                            pager: false
                        });
                    });
                </script>
                <script src='{% static 'js/jquery.bxslider.js' %}'></script>
                <ul class="bxslider">
                    <li>
                        <img src="{% static 'images/photo_1.jpg' %}" width="280px"/>
                    </li>
                    <li>
                        <img src="{% static 'images/photo_2.jpg' %}" width="280px"/>
                    </li>
                    <li>
                        <img src="{% static 'images/photo_3.jpg' %}" width="280px"/>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    {% block sidebar %}
    {% endblock sidebar %}
</aside>