{% load widget_exchange_rates %}
<aside>
    <ul>
        <li style="font-size: 0px;">.</li>
        <li>
            <iframe src="http://wx.trejdoo.com/widgets/eurofundusze/frame.html"
                    width="300" height="250" style="background-color:white;border:1px solid #ddd;overflow:hidden"
                    frameborder="0" seamless></iframe>
        </li>
        <li>

            <div id="cinkciarzPlWidget" style="margin: 0;"></div>
            <script type="text/javascript" src="http://cinkciarz.pl/widget/cinkciarz.widget.js"></script>
        </li>
    </ul>
    {% block sidebar %}
    {% endblock sidebar %}
</aside>