{% load widget_exchange_rates %}
<html>
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base.css"/>
</head>
<body>

<div id="main_frame">
    <header>
        <div id="sign_in">
            <a href="">Zaloguj</a>
        </div>
    </header>
    <div id="content">

        {% include "base_left_side.html" %}
        <main>
            <p style="color: white">
            {% block news %}
            {% endblock %}
            </p>
        </main>
        {% include "base_right_side.html" %}
    </div>
    {% include "base_footer.html" %}

</div>

</body>
</html>