{% extends "skeleton.html" %}
{% load zinnia_tags i18n staticfiles %}

{% block content %}
<div id="contact">
    <h2>Redaktor</h2>
    <ul>
        <li><img src="{% static 'images/lukasz_pastuszynski_profile_photo.jpg'%}" width="128px" height="128px"/>
            <a href="https://twitter.com/lpastuszynski" target="_blank">
                <div class="community_icon" id="community_twitter"></div>
            </a>
            <a href="http://pl.linkedin.com/pub/łukasz-pastuszyński/62/6b3/737" target="_blank">
                <div class="community_icon" id="community_linkedin"></div>
            </a>
        </li>
        <li>Łukasz Pastuszyński</li>
        <li>email: <a href="mailto:redakcja@eurofundusze.eu">redakcja@eurofundusze.eu</a></li>
    </ul>

    <h2>Reklama</h2>
    <ul>
        <li>email: <a href="mailto:reklama@eurofundusze.eu">reklama@eurofundusze.eu</a></li>
    </ul>

    <h2>Administrator</h2>
    <ul>
        <li>
            <a href="http://pl.linkedin.com/pub/damian-gałka/74/a71/63/" target="_blank">
                <div class="community_icon" id="community_linkedin"></div>
            </a>
        </li>
        <li>Damian Gałka</li>
        <li>email: <a href="mailto:admin@eurofundusze.eu">admin@eurofundusze.eu</a></li>
    </ul>
</div>

{% endblock content %}