{% load tags_utils zinnia_tags i18n %}
<footer>
    <div id="footer-headlines">
        <div class="center-block">
            {% make_list "Kategorie" "Przydatne Linki" "Partnerzy" as headlines %}
            {% for i in headlines %}
            <div class="footer-col">
                {{ i }}:
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="footer-content">
        <div class="center-block">
            <div id="footer-shortcuts" class="footer-block">
                <div class="footer-col">
                    {% get_categories_tree "custom_zinnia/categories_list.html" %}
                </div>
                <div class="footer-col">
                    {% get_usefullinks %}
                </div>
                <div class="footer-col">
                    <ul>
                        <li>
                            <a href="http://influencja.pl/projekty-i-fundusze-europejskie.html">
                                <img src="http://influencja.pl/images/influencja_strony_internetowe.png" width="70%"
                                     height="70%"/>
                            </a>
                        </li>
                        <li>
                            <a href="http://trejdoo.com/362,rejestracja.htm?TokenPartner=b056ca8b44">
                                <img src="http://trejdoo.com/Images/49/Trejdoo/Baner/baner-468x60-px-Trejdo.jpeg" width="80%"
                                     height=90%"/>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
            <div id="footer-extras" class="footer-block">
                <h5>Tags</h5>
                {% get_tag_cloud 1 %}
            </div>
            <div id="footer-copyrights" class="footer-block">
                Copyright © 2014 <a href="http://www.eurofundusze.eu">Eurofundusze</a> Powered by Gauee
            </div>
        </div>
    </div>
</footer>