{% load tags_utils zinnia_tags i18n %}
<footer>
    <div id="footer-headlines">
        <div class="center-block">
            {% make_list "Kategorie" "Przydatne Linki" "Partnerzy" as headlines %}
            {% for i in headlines %}
            <div class="footer-col">
                {{ i }}:
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="footer-content">
        <div class="center-block">
            <div id="footer-shortcuts" class="footer-block">
                <div class="footer-col">
                    {% get_categories_tree "custom_zinnia/categories_list.html" %}
                </div>
                <div class="footer-col">
                    <ul>
                        <li><a href="http://www.funduszeeuropejskie.gov.pl">Fundusze Europejskie</a></li>
                        <li><a href="http://www.mir.gov.pl">Ministerstwo Infrastruktury i Rozwoju</a></li>
                        <li><a href="http://www.mg.gov.pl">Ministerstwo Gospodarki</a></li>
                        <li><a href="http://www.nbp.pl">Narodowy Bank Polski</a></li>
                        <li><a href="http://www.parp.gov.pl">PARP</a></li>
                        <li><a href="http://www.arp.com.pl/">Agencja Rozwoju Przemysłu</a></li>
                        <li><a href="http://www.nfosigw.gov.pl/">Narodowy Fundusz Ochrony Środowiska i Gospodarki
                            Wodnej</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <ul>
                        <li>
                            <a href="http://influencja.pl/projekty-i-fundusze-europejskie.html">
                                <img src="http://influencja.pl/images/influencja_strony_internetowe.png" width="70%"
                                     height="70%"/>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
            <div id="footer-extras" class="footer-block">
                <h5>Tags</h5>
                {% get_tag_cloud 1 %}
            </div>
            <div id="footer-copyrights" class="footer-block">
                Copyright © 2014 <a href="http://www.eurofundusze.eu">Eurofundusze</a> Powered by Gauee
            </div>
        </div>
    </div>
</footer>