{% load i18n staticfiles %}
<header xmlns="http://www.w3.org/1999/html">
    <div id="banner">

    </div>
    <nav>
        <ul>
            <a href="/">
                <li>Strona Główna</li>
            </a>
            <a href="/ogloszenia">
                <li>Ogłoszenia</li>
            </a>
            <a href="/multimedia">
                <li>Multimedia</li>
            </a>
            <a href="/contact">
                <li>Kontakt</li>
            </a>
        </ul>
    </nav>
    <div id="right-nav">
        <div class="search">
        </div>
    </div>
</header>