{% extends "skeleton.html" %}
{% load zinnia_tags i18n staticfiles %}

{% block content %}
<div id="multimedia">
    <h2>Multimedia</h2>
    <table>
        <tr>
            <td>
                <iframe width="280" height="157" src="//www.youtube.com/embed/3Xv9mh9DHJk" frameborder="0"
                        allowfullscreen></iframe>
            </td>
            <td>
                <iframe width="280" height="157" src="//www.youtube.com/embed/A8k_N0lAblo" frameborder="0"
                        allowfullscreen></iframe>
            </td>
        </tr>
        <tr>
            <td>Fundusze Europejskie 2014-2020</td>
            <td>Eurofundusze Magazyn dla firm odc.1</td>
        </tr>
    </table>
</div>

{% endblock content %}