{% extends "skeleton.html" %}
{% load zinnia_tags i18n staticfiles %}

{% block content %}
<div id="multimedia">
    <h2>Multimedia</h2>
    <table>
        <tr>
            <td>
                <iframe width="280" height="157" src="//www.youtube.com/embed/3Xv9mh9DHJk" frameborder="0"
                        allowfullscreen></iframe>
            </td>
            <td>
                <iframe width="280" height="157" src="//www.youtube.com/embed/A8k_N0lAblo" frameborder="0"
                        allowfullscreen></iframe>
            </td>
        </tr>
        <tr>
            <td>Fundusze Europejskie 2014-2020</td>
            <td>Eurofundusze Magazyn dla firm odc.1</td>
        </tr>

        <tr>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=0yWifeJnfcQ&index=1&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=p9xhSRFTLpE&index=2&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>Eurofundusze IV odc.16</td>
<td>Eurofundusze IV odc.15</td>
</tr>
<tr>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=xYkVioSQgoc&index=3&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=Z2ew0aQXSEE&index=4&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>Eurofundusze IV odc.14</td>
<td>Eurofundusze IV odc.13</td>
</tr>
<tr>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=RZLc3pwYvc4&index=5&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=yR4JYVB8ijs&index=6&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>Eurofundusze IV odc.12</td>
<td>Eurofundusze IV odc.11</td>
</tr>
<tr>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=lyRY7QB9_88&index=7&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=ALIazOxxBCE&index=8&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>Eurofundusze IV odc.10</td>
<td>Eurofundusze IV odc.9</td>
</tr>
<tr>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=Jdj4QOcZrLE&index=9&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=HwMcAEHbe5Q&index=10&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>Eurofundusze IV odc.8</td>
<td>Eurofundusze IV odc.7</td>
</tr>
<tr>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=mZkW8j-ejME&index=11&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=PKttHJ8et50&index=12&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>Eurofundusze IV odc.6</td>
<td>Eurofundusze IV odc.5</td>
</tr>
<tr>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=_YHv88N0Gqc&index=13&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=_KxUS4ylV6w&index=14&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>Eurofundusze IV odc.4</td>
<td>Eurofundusze IV odc.3</td>
</tr>
<tr>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=WH-73YQ4ja8&index=15&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=atAnvtrvE84&index=16&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>Eurofundusze IV odc.2</td>
<td>Eurofundusze IV odc.1</td>
</tr>
<tr>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=RMCMVTuP33U&index=17&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=AxkFjL5iJaU&index=18&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>Eurofundusze. Magazyn dla firm - odc. 13</td>
<td>Eurofundusze. Magazyn dla firm - odc. 12</td>
</tr>
<tr>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=7-1YVaA9P2w&index=19&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=iRHDX7hRrnU&index=20&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>Eurofundusze. Magazyn dla firm - odc. 11</td>
<td>Eurofundusze, Magazyn dla firm - odc.10</td>
</tr>
<tr>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=Xm_IZ7jj64A&index=21&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=Hx6e9NY39nw&index=22&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>Eurofundusze, Magazyn dla firm - odc.9</td>
<td>Eurofundusze, Magazyn dla firm - odc. 8</td>
</tr>
<tr>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=Ftrax85IWUQ&index=23&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=A_iZtyJfKJk&index=24&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>Eurofundusze, Magazyn dla firm - odc. 7</td>
<td>Eurofundusze, Magazyn dla firm - odc.6</td>
</tr>
<tr>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=fW6CeXAzbL0&index=25&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=9dpqikx77k0&index=26&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>Eurofundusze. Magazyn dla firm - odc.5</td>
<td>Eurofundusze, Magazyn dla firm - odc.4</td>
</tr>
<tr>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=pGp4_Z7FXMY&index=27&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=kRKN-GlJuQo&index=28&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>Eurofundusze. Magazyn dla firm - odc.3</td>
<td>Eurofundusze. Magazyn dla firm - odc.2</td>
</tr>
<tr>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=A8k_N0lAblo&index=29&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=3qLF4JaxuDg&index=30&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>Eurofundusze. Magazyn dla firm - odc.1</td>
<td>Eurofundusze2 odc17</td>
</tr>
<tr>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=6RYIdGC3Csk&index=31&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=xhuxeGFf_4U&index=32&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>PARP: Eurofundusze2 - Odc16</td>
<td>PARP: Eurofundusze2 - Odc15</td>
</tr>
<tr>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=N8b3x-Z7LjM&index=33&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=9hB7fqcbs4s&index=34&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>PARP: Eurofundusze2 - Odc14</td>
<td>PARP: Eurofundusze2 - odc.13</td>
</tr>
<tr>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=1ZkyuqC2DxY&index=35&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=ewvOvR7MXHI&index=36&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>PARP: Eurofundusze2 - odc.12</td>
<td>PARP: Eurofundusze2 - Odc.11</td>
</tr>
<tr>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=00CEDEDupe4&index=37&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=NegyRQAU1SU&index=38&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>Eurofundusze2 odc.10</td>
<td>PARP: Eurofundusze2 - odc.9</td>
</tr>
<tr>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=FmiKvZGlt1E&index=39&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=4YyllgjS1Ow&index=40&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>PARP: Eurofundusze2 - odc.8</td>
<td>PARP: Eurofundusze2 - odc.7</td>
</tr>
<tr>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=eMMw2MaElJU&index=41&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=FVzF5FPCcO8&index=42&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>PARP: Eurofundusze2 - odc.6</td>
<td>PARP: Eurofundusze2 - odc.5</td>
</tr>
<tr>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=_imFqr7supg&index=43&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=gm7C93BA8ZQ&index=44&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>PARP: Eurofundusze2 - odc4</td>
<td>Eurofundusze2 - odc.3</td>
</tr>
<tr>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=P-y89PZHttY&index=45&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=IGBUrvjhGm8&index=46&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>PARP: Eurofundusze2 - odc.2</td>
<td>PARP: Eurofundusze2 - odc.1</td>
</tr>
<tr>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=UdxYuK3fiik&index=47&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=QvPOUq4CcYU&index=48&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>PARP: Eurofundusze extra.Szanghaj EXPO 2010</td>
<td>PARP: Eurofundusze odc.10</td>
</tr>
<tr>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=5J8zQ3He2R0&index=49&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=NM98lrkS7ug&index=50&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>PARP: Eurofundusze odc.9 cz.1</td>
<td>PARP: Eurofundusze odc.9 cz.2</td>
</tr>
<tr>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=rTqvdrq9HGA&index=51&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=ssRRykSfwXY&index=52&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>PARP: Eurofundusze odc.8 cz.1</td>
<td>PARP: Eurofundusze odc.8 cz.2</td>
</tr>
<tr>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=6nCdCIhhL-8&index=53&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=aey0JQmzzoA&index=54&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>PARP: Eurofundusze odc.7 cz.1</td>
<td>PARP: Eurofundusze odc.7 cz.2</td>
</tr>
<tr>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=0O3H8GgL-CU&index=55&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=IDS4sMyfNes&index=56&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>PARP: Eurofundusze odc.6 cz.1</td>
<td>PARP: Eurofundusze odc.6 cz.2</td>
</tr>
<tr>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=Kw9eYUuLJfM&index=57&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=PmPi11yR6UU&index=58&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>PARP: Eurofundusze odc.5 cz.1</td>
<td>PARP: Eurofundusze odc.5 cz.2</td>
</tr>
<tr>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=9JxRL6aYJV8&index=59&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=Ek34EGX2AM0&index=60&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>PARP: Eurofundusze odc.4 cz.1</td>
<td>PARP: Eurofundusze odc.4 cz.2</td>
</tr>
<tr>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=Fscie4Re13Q&index=61&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=Ed6A-sC7giA&index=62&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>PARP: Eurofundusze odc.3 cz.1</td>
<td>PARP: Eurofundusze odc.3 cz.2</td>
</tr>
<tr>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=RNTpbx7QyW4&index=63&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=xl1FDjaeATg&index=64&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>PARP: Eurofundusze odc.2 cz.1</td>
<td>PARP: Eurofundusze odc.2 cz.2</td>
</tr>
<tr>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=4jqNn34L_5A&index=65&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
<td>
<iframe width="280" height="157" src="//www.youtube.com/embed/watch?v=9J2-PZQun4w&index=66&list=PLynE-SBIVdGrtvNyaczNh905YLBS04mL4" frameborder="0"
allowfullscreen></iframe>
</td>
</tr>
<tr>
<td>PARP: Eurofundusze odc.1 cz.1</td>
<td>PARP: Eurofundusze odc.1 cz.2</td>
</tr>

    </table>
</div>

{% endblock content %}