<!DOCTYPE html>
<html>
<head lang="pl">
    <meta charset="UTF-8">
    <title>Eurofundusze - Preview</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/base.css"/>
</head>
<body>
<div id="main_frame">
    <header>
        <div id="sign_in">
            <a href="">Zaloguj</a>
        </div>
    </header>
    <div id="content">
        <nav>
            <ul>
                <li>Strona Główna</li>
                <li>Projekty</li>
                <li>Kontakt</li>
                <li>Euro Dotacje</li>
                <li>szukaj</li>
            </ul>
        </nav>
        <main>
            <div id="news_with_image">
                <div class="big_news">
                    <div class="news_timestamp">
                        <div class="wstazka">Today, 14.07.2014</div>
                    </div>

                    <div class="news_title">
                        <div class="wstazka">Big news no. 1</div>
                    </div>
                    <div clas="news_image">
                        <!--<img src="../static/news/news_one.jpg" width="100%" height="100%"/>-->
                        <!--<img src="../static/news/news_one.jpg" width="351px" height="261px"/>-->
                                    <iframe width="351px" height="261px" src="http://www.youtube.com/embed/3Xv9mh9DHJk" frameborder="0" allowfullscreen></iframe>

                    </div>
                </div>
                <div class="medium_news">
                    <div class="news_timestamp">
                        <div class="wstazka">Yesterday, 13.07.2014</div>
                    </div>
                    <div class="news_title">
                        <div class="wstazka">Medium news no. 1</div>
                    </div>
                    <img src="../static/news/news_two.jpg" width="201px" height="100%"/>
                </div>
                <div class="medium_news">
                    <div class="news_timestamp">
                        <div class="wstazka">Yesterday, 13.07.2014</div>
                    </div>
                    <div class="news_title">
                        <div class="wstazka">Medium news no. 2</div>
                    </div>
                    <img src="../static/news/news_three.jpg" width="201px" height="100%"/>
                </div>
            </div>

            <div id="news_without_image">
                <div class="normal_news">
                    <h4>Small news no. 1 | 10.07.2014</h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet nulla nec ipsum
                        sollicitudin dignissim sed at tellus. Donec et est in augue posuere varius at vitae dui.</p>
                </div>
                <div class="normal_news">
                    <h4>Small news no. 2 | 11.03.2014</h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet nulla nec ipsum
                        sollicitudin dignissim sed at tellus. Donec et est in augue posuere varius at vitae dui.</p>
                </div>
            </div>
        </main>
        <aside>
            <table>
                <tbody>
                <tr>
                    <td>Referencyjna</td>
                    <td>2,50</td>
                </tr>
                <tr>
                    <td>Lombardowa</td>
                    <td>4,00</td>
                </tr>
                <tr>
                    <td>Depozytowa</td>
                    <td>1,00</td>
                </tr>
                <tr>
                    <td>Redyskonto weksli</td>
                    <td>2,75</td>
                </tr>
                </tbody>
            </table>

            <table class="tabela">
                <tbody>
                <tr>
                    <td>
                        €
                    </td>
                    <td class="ar">
                        4,14
                    </td>
                </tr>
                <tr>
                    <td class="nazwa">
                        $
                    </td>
                    <td class="ar">
                        3,04
                    </td>
                </tr>
                <tr>
                    <td>
                        CHF
                    </td>
                    <td class="ar">
                        3,41
                    </td>
                </tr>
                <tr>
                    <td class="nazwa">
                        GBP
                    </td>
                    <td class="ar">
                        5,20
                    </td>
                </tr>
                </tbody>
            </table>
        </aside>
    </div>
    <footer>Gauee Copyrights 2014</footer>

</div>

</body>
</html>