{% load i18n staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}" version="-//W3C//DTD XHTML 1.1//EN"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Eurofundusze By Gauee - {% block title %}{% endblock title %}
        {% block title-page %}{% endblock title-page %}
    </title>
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static 'css/skeleton.css' %}"/>
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static 'css/skeleton-header.css' %}"/>
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static 'css/skeleton-footer.css' %}"/>
</head>
<body>
<div id="login-panel">
    <div class="center-block">
        <a href="/admin">Zaloguj</a>
    </div>
</div>


<div id="container">
    {% include "header.html" %}

    <main>
        <div id="content" class="hfeed">
            {% block content %}
            <div class="links">
                <h2>{% trans "Useful links" %}</h2>
                <ul>
                    <li>
                        <a href="{% url 'zinnia:entry_archive_index' %}" title="{% trans " Weblog index" %}">
                        {% trans "Weblog index" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'zinnia:sitemap' %}" title="{% trans " Sitemap" %}">
                        {% trans "Sitemap" %}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="search">
                <h2>{% trans "Search" %}</h2>
                {% include "zinnia/tags/search_form.html" %}
            </div>
            {% endblock content %}
        </div>
    </main>
    {% include "aside.html" %}
</div>

{% include "footer.html" %}

</body>
</html>
