{% load i18n staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}" version="-//W3C//DTD XHTML 1.1//EN"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Eurofundusze - {% block title %}{% endblock title %}
        {% block title-page %}{% endblock title-page %}
    </title>
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static 'css/content.css' %}"/>
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static 'css/skeleton.css' %}"/>
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static 'css/skeleton-header.css' %}"/>
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static 'css/skeleton-footer.css' %}"/>
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static 'css/zinnia-paginator.css' %}"/>
    <meta name="google-site-verification" content="S0OSFOazDCJr0cUudP90QgsdwUStiiQG0sPPxnI76lk"/>
    <meta charset="UTF-8">
    <meta name="description"
          content="Portal internetowy dotyczący funduszy europejskich (eurofunduszy). Pisanie projektów unijnych, na dofinansowanie dla firm i małych przedsiębiorców w różnych regionów polski. System zleceń projektów biznesowych.">
    <meta name="keywords"
          content="Eurofundusze, fundusze europejskie, dofinansowanie, inwestycja, przedswiębiorca, unia, projekt, biznes, firma, infrastruktura, pożyczka, zlecenie, realizacja">
    <meta name="author" content="Łukasz Pastuszyński, Damian Gałka">
</head>
<body>
<div id="login-panel">
    <div class="center-block">
        <a href="/admin">Zaloguj</a>
    </div>
</div>


<div id="container">
    {% include "header.html" %}
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    {% include "aside.html" %}
</div>
{% include "footer.html" %}

</body>
</html>
