{% load i18n staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}" version="-//W3C//DTD XHTML 1.1//EN"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Eurofundusze - {% block title %}{% endblock title %}
        {% block title-page %}{% endblock title-page %}
    </title>
    <script type="text/javascript" src='{% static 'jquery/dist/jquery.js' %}'></script>
    <script type="text/javascript" src='{% static 'bootstrap/dist/js/bootstrap.min.js' %}'></script>
    <link href='{% static 'css/jquery.bxslider.css" rel="stylesheet' %}'/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen, projection"
          href="{% static 'bootstrap/dist/css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" media="screen, projection"
          href="{% static 'bootstrap-social/bootstrap-social.css' %}"/>
    <link rel="stylesheet" type="text/css" media="screen, projection"
          href="{% static 'font-awesome/css/font-awesome.css' %}"/>
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static 'css/style.css' %}"/>
    <link rel="shortcut icon" href="{% static 'images/logotyp.png' %}">
    <meta name="google-site-verification" content="S0OSFOazDCJr0cUudP90QgsdwUStiiQG0sPPxnI76lk"/>
    <meta charset="UTF-8">
    <meta name="description"
          content="Eurofundusze.eu to portal skierowany do sektora MSP oraz wszystkich zainteresowanych funduszami europejskimi. Nowa perspektywa na lata 2014-2020 daje polskim przedsiębiorcom duże możliwości rozwoju. Eurofundusze.eu zawiara informacje na temat aktualnych naborów, wyszukiwarkę naborów, system zleceń projeków biznesowych pomocny dla poszukujących zleceń oraz tych oferujących wsparcie konsultingowe w obszarach eurofunduszy. Potral udostępnia narzędzia analityczne, przydatke linki praz wyselekcjonowane informacje dotyczące funduszy europejskich.">
    <meta name="keywords"
          content="fundusze europejskie, aktualne nabory, pieniądze z unii, wsparcie dla przedsiębiorców, STARTUP, rozwój biznesu, projekty, UE, pieniądze dla firm, dotacje, euro pożyczki, programy operacyjne, programy krajowe.">
    <meta name="author" content="Łukasz Pastuszyński, Damian Gałka">
</head>
<body>
{% include "login_panel.html" %}

<div id="container">
    {% include "header.html" %}
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    {% include "aside.html" %}
</div>
{% include "footer.html" %}

</body>
</html>
