<div id="news_without_image">
    <div class="normal_news">
        <h4>Small news no. 1 | 10.07.2014</h4>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet nulla nec ipsum
            sollicitudin dignissim sed at tellus. Donec et est in augue posuere varius at vitae dui.</p>
    </div>
    <div class="normal_news">
        <h4>Small news no. 2 | 11.03.2014</h4>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet nulla nec ipsum
            sollicitudin dignissim sed at tellus. Donec et est in augue posuere varius at vitae dui.</p>
    </div>
</div>